# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/

# Environnement virtuel
venv/
env/
.env
.venv/

# Base de données
*.db
site.db

# Logs
*.log

# Fichiers de configuration locale (si vous en avez)
*.conf.local
*.env
.flaskenv

# Fichiers système et IDE
.DS_Store
.idea/
.vscode/
*.swp
*~
.project
.settings/

# Fichiers spécifiques au serveur ou temporaires
*.sock
*.sqlite3

# Fichiers d'historique personnel (à ignorer absolument)
.bash_history
.bash_logout
.bashrc
.cache/
.local/
.profile
.wget-hsts

# Dossiers spécifiques de packages ou d'artefacts de build
dist/
build/
